#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define LAYER_1 1
#define LAYER_2   2
#define LAYER_3   3
#define LAYER_4 4
#define LAYER_5  5
#define LAYER_6  6
#define LAYER_7  7
/ {

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp BACKSPACE>;
        };
     };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
                &kp ESC   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BACKSPACE
                &kp TAB     &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp L   &kp RSHIFT   &mo LAYER_7 
                &kp LSHIFT     &kp Z   &lt LAYER_5 X   &lt LAYER_4 C   &lt LAYER_3 V   &lt LAYER_2 BACKSPACE   &lt LAYER_1 SPACE   &lt LAYER_6 B   &kp N   &kp M   &kp ENTER   &kp RSHIFT
		&kp LCTRL     &kp LEFT_GUI   &kp LALT   &lt LAYER_2 BACKSPACE   &lt LAYER_2 BACKSPACE  &kp N3   &kp SPACE   &lt LAYER_1 SPACE  &kp RALT    &kp K_CONTEXT_MENU  &kp RCTRL &kp ENTER 
            >;

        };

        layer1_layer {

            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3  &kp N4   &kp N5   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &kp N0
                &kp TAB     &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   &kp N0
                &kp LSHIFT     &kp F11   &kp F12   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp COMMA   &kp DOT   &kp SLASH   &kp N0
                &kp LCTRL     &kp LEFT_GUI   &kp LALT   &kp N1   &kp N2   &kp N3   &kp SPACE   &kp N5  &kp N6   &kp N7   &kp N8 &kp ENTER
            >;

        };

        layer2_layer {

            bindings = <
                &kp ESC   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp MINUS   &kp PLUS   &kp BACKSPACE
                &kp TAB     &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp RA(NUBS)   &kp LEFT_BRACKET   &kp RIGHT_BRACKET   &kp N0
                &kp LSHIFT     &kp Z   &lt LAYER_5 X   &lt LAYER_4 C   &lt LAYER_3 V   &mo LAYER_2   &mo LAYER_1   &kp B   &kp RA(Q)   &kp SEMICOLON   &kp SINGLE_QUOTE   &kp N0
                &kp LCTRL     &kp LEFT_GUI   &kp LALT   &kp N1   &kp N2   &kp N3   &kp SPACE   &kp N5  &kp N6   &kp N7   &kp N8 &kp ENTER
            >;

        };

        layer3_layer {

            bindings = <
                &kp ESC   &kp ESC   &kp LCTRL   &kp LSHIFT   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BACKSPACE
                &kp TAB     &kp TAB   &kp LALT   &kp C   &kp F   &kp G   &kp H   &kp J   &kp K   &kp UP_ARROW   &kp W   &kp N0
                &kp LSHIFT     &kp LCTRL   &lt LAYER_5 X   &lt LAYER_4 C   &lt LAYER_3 V   &mo LAYER_2   &mo LAYER_1   &kp B   &kp LEFT_ARROW   &kp DOWN_ARROW   &kp RIGHT_ARROW   &kp N0
                &kp LCTRL     &kp LEFT_GUI   &kp LALT   &kp N1   &kp DELETE   &kp DELETE   &kp SPACE   &kp N5  &kp N6   &kp N7   &kp N8 &kp ENTER
            >;

        };

        layer4_layer {

            bindings = <
                &kp ESC   &kp ESC   &kp LCTRL   &kp LSHIFT   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BACKSPACE
                &kp TAB     &kp A   &kp S   &kp C   &kp F   &kp G   &kp H   &kp J   &kp K   &kp L   &kp PAGE_UP   &kp N0
                &kp LSHIFT     &kp Z   &lt LAYER_5 X   &lt LAYER_4 C   &lt LAYER_3 V   &mo LAYER_2   &mo LAYER_1   &kp B   &kp N   &kp M   &kp PAGE_DOWN   &kp N0
                &kp LCTRL     &kp LEFT_GUI   &kp LALT   &kp N1   &kp DELETE   &kp N3   &kp SPACE   &kp N5  &kp N6   &kp N7   &kp N8 &kp ENTER
            >;

        };

        layer5_layer {

            bindings = <
                &kp ESC   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BACKSPACE
                &kp TAB     &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp L   &kp C_BRIGHTNESS_INC   &kp N0
                &kp LSHIFT     &kp Z   &lt LAYER_5 X   &lt LAYER_4 C   &lt LAYER_3 V   &mo LAYER_2   &mo LAYER_1   &kp B   &kp N   &kp M   &kp C_BRIGHTNESS_DEC &kp N0 
                &kp LCTRL     &kp LEFT_GUI   &kp LALT   &kp N1   &kp N2   &kp N3   &kp SPACE   &kp N5  &kp N6   &kp N7   &kp N8 &kp ENTER
            >;

        };

        layer6_layer {

            bindings = <
                &bootloader   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp C_VOLUME_DOWN   &kp C_VOLUME_UP   &kp N0   &kp N0   &kp N0   &kp N0
                &kp N0     &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp K_MUTE   &kp N0   &kp N0   &kp L   &kp C_BRIGHTNESS_INC   &kp N0
                &kp N0     &kp N0   &kp LEFT_GUI   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp C_BRIGHTNESS_DEC   &kp N0
                &kp LCTRL     &kp LEFT_GUI   &kp LALT   &kp N1   &kp N2   &kp N3   &kp SPACE   &kp N5  &kp N6   &kp N7   &kp N8 &kp ENTER
            >;

        };

        layer7_layer {

            bindings = <
                &bootloader   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0
                &kp N0     &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0   &kp N0
                &kp N0     &kp N0   &kp N0   &kp N0   &kp N0   &out OUT_USB   &out OUT_BLE  &kp N0   &kp N0   &kp N0   &kp N0   &kp N0
                &bt BT_CLR     &kp LEFT_GUI   &kp LALT   &kp N1   &kp N2   &kp N3   &sys_reset   &bt BT_SEL 4  &bt BT_SEL 3   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2
            >;

        };
    };
};
