#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
                &kp ESC   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Z   &kp U   &kp I   &kp O   &kp P   &bootloader
                &kp W     &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp L   &kp WL   &bt BT_CLR
                &kp W     &kp Y   &kp X   &kp C   &kp V   &kp W   &kp W   &kp B   &kp N   &kp M   &kp W   &bt BT_SEL 0
		&kp W     &kp W   &kp W   &kp W   &kp w          &kp W      &kp W   &kp W   &kp W   &kp W   &bt BT_SEL 1   &kp W
            >;

        };
    };
};
